{% extends "generator.html" %}
{% block params %}
    <tr>
        <td>{{ form.ic.label }}</td>
        <td>{{ form.ic }}</td>
    </tr>
    <tr>
        <td>{{ form.oc.label }}</td>
        <td>{{ form.oc }}</td>
    </tr>
    <tr>
        <td>{{ form.tc.label }}</td>
        <td>{{ form.tc }}</td>
    </tr>
    <tr>
        <td>{{ form.bc.label }}</td>
        <td>{{ form.eb(onchange="enable_disable(this, 'border_color')",
        id="enable_border") }}
            {{ form.bc(id="border_color") }}</td>
    </tr>
    <tr>
        <td>{{ form.lc.label }}</td>
        <td>{{ form.el(onchange="enable_disable(this, 'logo_color')",
        id="enable_logo") }}
            {{ form.lc(id="logo_color") }}</td>
    </tr>
    <tr>
        <td>{{ form.tt.label }}</td>
        <td>{{ form.tt }}</td>
    </tr>
    {{super()}}
{% endblock %}